.signup {
    background-color: #032568;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup p {
    height: 1px;
    font-size: 13px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #41454d;
    padding: 2rem;
    border-radius: 1rem;
    width: 310px;
}

form h3 {
    color: #fff;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

label {
    color: #fff;
}

form a {
    text-decoration: none;
    color: #fff;
    margin-left: 0.2rem;
}

form button {
    text-transform: capitalize;
}
.signup .alert{
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 5;
}